/* Importando as fontes de dentro do projeto */
@font-face {
    font-family: Young-Serif;
    src: url(/assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: Outfit;
    src: url(/assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

/* variaveis de cores */

:root{

    /* Primary */
    --Nutmeg: hsl(14, 45%, 36%);
    --Dark-Raspberry: hsl(332, 51%, 32%);
    --Dark-Raspberry-2: hsla(332, 51%, 32%, 0.123);

    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Rose-white: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --Light-Grey: hsl(30, 18%, 87%);
    --Wenge-Brown: hsl(30, 10%, 34%);
    --Dark-Charcoal: hsl(24, 5%, 18%);

    --font-1: 'Young Serif';
    --font-2: 'Outfit';
}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    background-color: var(--Eggshell);
    font-family: var(--font-1);
    width: 100%;
    height: 100%;
    padding-top: 70px;
    padding-left: 400px;
    padding-right: 400px;
}

main .todo {
  background-color: var(--White);
  padding: 20px;
  border-radius: 10px;
}

main img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 30px;
}

article .apresenta h1{
    font-weight: 500;
    font-size:30px; 
    margin-bottom: 15px;
}    

article .inf-1 {
    font-size: small;
    font-family: var(--font-2);
    font-size: 13px;
    text-align: justify;
    margin-bottom: 28px;
    color: var(--Wenge-Brown);
}

.container {
    
    background-color: var(--Rose-white);
    padding-top: 23px;
    padding-bottom: 23px;
    margin-bottom: 30px ;
}

.container h1 {
    font-family: var(--font-2);
    font-size: 15px;
    margin-left: 29px; 
    color: var(--Dark-Raspberry);   
    margin-bottom: 10px
}

p {
    font-weight: 300;
    letter-spacing: .001rem;
    color: var(--wenge-brown);
}

.container li{
    font-family: var(--font-2);
    font-weight: 400;
    font-size: 13px;
    color: var(--Wenge-Brown);
    font-style: normal;
    margin-left: 50px;
    margin-bottom: 12px;
}

.container p {
    margin: 0;
}

.container p {
    margin-left: 1rem;
}

article .container-2 h1{
    font-family: var(--font-1);
    font-size: 25px;
    margin-left: 10px; 
    color: var(--Nutmeg);   
    font-weight: 500;
    margin-bottom: 20px;
    opacity: 0.9;
}

.container-2 ul li {
    font-family: var(--font-2);
    font-size: 13px;
    margin-left: 32px; 
    color: var(--Wenge-Brown);   
    margin-bottom: 20px;
}

.container-2 p {
    margin: 0;
}

.container-2 p {
    margin-left: 1rem;
}

article .container-3 h1{
    font-family: var(--font-1);
    font-size: 25px;
    margin-left: 10px; 
    color: var(--Nutmeg);   
    font-weight: 500;
    margin-bottom: 20px;
    opacity: 0.9;
}

.container-3 ol li {
    font-family: var(--font-2);
    font-size: 13px;
    margin-left: 32px; 
    color: var(--Wenge-Brown);   
    margin-bottom: 20px;
}

.container-3 p {
    margin: 0;
}

.container-3 p {
    margin-left: 1rem;
    font-weight: 400;
    font-family: var(--font-2);
}

article .container-4 h1{
    font-family: var(--font-1);
    font-size: 25px;
    margin-left: 10px; 
    color: var(--Nutmeg);   
    font-weight: 500;
    margin-bottom: 20px;
    opacity: 0.9;
}

.container-4  {
    font-family: var(--font-2);
    font-size: 13px;
    color: var(--Wenge-Brown);   
    margin-bottom: 20px;
}

.container-4 .linha {
    display: flex;
    margin: 0;
}


.container-4 .nota {
    font-weight: 600;
    margin-bottom: 25px;
}

.container-4 .coluna-1 {
    width: 55%;
}

.container-4 .coluna-1 p {
font-weight: 600;
color: var(--Wenge-Brown);
opacity: 0.7;
}

.container-4 .linha .coluna-2 {
    color: var(--Nutmeg);
}

.container-4 .linha hr{
    
    margin-bottom: 1px;
    opacity: 1.9;
}

hr{
    margin-top: 25px;
    margin-bottom: 20px;
    opacity: 0.1;
}